<!DOCTYPE html>
<html>
  <head>
    <title>JSA Dev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
